<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!-- page description -->
      <h1 class="text-center">Llistat d'opinions</h1>
      <!-- end page description -->

      <!-- alert danger -->
      <%= render "shared/flash_message" %>

      <% if @ecommerce_id %>
        <ul class="stats text-center">
          <% (0..5).each do |rating| %>
            <%= link_to "".html_safe, client_opinions_path(@query_parameters.merge({:rating => rating})), {:class => "icon-face-#{rating} big-icon"} %>
          <% end %>
        </ul>
        <!-- end stats -->

        <!-- list -->
          <div class="media-list">
            <%= @opinions.size %>
            <% @opinions.each do |opinion| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to "".html_safe, client_opinions_path(@query_parameters.merge({:rating => opinion[:rating]})), {:class => "pull-right icon-face-#{ opinion[:rating]} small-icon"} %>
                  <!-- <div class="pull-right icon-face-< opinion['rating'] %> small-icon"></div> -->
                  <h4><%= opinion['username']%> <small><%= opinion['createdAt'].to_time.to_formatted_s(:short) %></small></h4>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                          <%= opinion[:client][:name]%> <%= opinion[:client][:surname] %>
                          <small><%= opinion[:date].to_time.to_formatted_s(:short) %></small>
                        </h4>
                      <%= opinion[:description] %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <!-- end list -->

        <% if @opinions && params[:ecommerce_id] && @total_pages > 1 %>
        <div class="text-center">
          <ul class="pagination">
            <% if @prev_page %>
              <li>
                <%= link_to "&laquo;".html_safe, client_opinions_path(@query_parameters.merge({:page => @prev_page})) %>
              </li>
            <% end %>
            <% (@first_page..@last_page).to_a.each do |page| %>
              <li class="<%= is_active = @current_page == page ? 'active' : '' %>">
                <%= link_to page, client_opinions_path(@query_parameters.merge({:page => page})) %>
              </li>
            <% end %>
            <% if @next_page %>
              <li>
                <%= link_to "&raquo;".html_safe, client_opinions_path(@query_parameters.merge({:page => @prev_page})) %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
